<h1>Relatorio</h1>

<div class="w-50">
    <form class="d-flex" role="search">
        <input name="inFiltro" class="form-control me-2" type="search" aria-label="Search">
        <button class="btn btn-outline-success" asp-controller="Pizza" asp-action="Filter">Filtrar</button>
    </form>
</div>