@model Roupa.Models.Categoria

@{
    ViewData["Title"] = "Detalhes Categoria";
}

<h1>@ViewData["Title"]</h1>

<div class="mb-4 mt-4">
    <dl class="row">
        <dt class = "col-sm-2 text-dark">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-outline-primary m-1" asp-route-id="@Model?.CategoriaId">Editar</a>
    <a asp-action="Index" class="btn btn-outline-secondary m-1" >Voltar</a>
</div>
