@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4 text-dark">Mayara's Store</h1>
    <p>Melhores roupas para programadores você encontra aqui!</p>
</div>
