@model Roupa.Models.CadastroDeVendas

@{
    ViewData["Title"] = "Criar Cadastro";
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2 mt-2">
                <label asp-for="NotaVenda" class="control-label"></label>
                <input asp-for="NotaVenda" class="form-control" />
                <span asp-validation-for="NotaVenda" class="text-danger"></span>
            </div>
            <div class="form-group mb-2 mt-2">
                <label asp-for="DataHora" class="control-label"></label>
                <input asp-for="DataHora" class="form-control"/>
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group mb-2 mt-2">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-outline-primary m-1" />
                <a class="btn btn-outline-secondary m-1" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
